
header{
    background-image: url("https://420sunrise.files.wordpress.com/2013/11/keith-haring-the-political-line-retrospective-exhibition-mam-paris-3.jpg");
}

#logo {
    background-color: #2c3e50;
    border: 50px solid #2c3e50;
    border-radius: 10000px;
}